<!DOCTYPE html>
<html>
<%- include ../layout/head.ejs %>
<body>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Create an Orchestration Script</h1>

        <div id="sign-in">
            <form class="form-goal" id="goal-form" action="/os/create" title="" method="post">
                <!-- Name -->
                <label for="name">Enter a short name for this script</label>
                <input id="name" type="text" name="name_field" class="form-control" value="" required>
                <br>

                <!-- Goal -->
                <label for="goal">What is the goal of this script?</label>
                <input id="goal" type="text" name="goal_field" class="form-control" value="" required>
                <br>

                <!-- Conditions -->
                <label for="condition">What condition should trigger this script?</label>
                <br>
                <span class="small">Available detectors for Sprint Log: pointsavailable, pointscommitted, hoursspent</span>
                <br>
                <span class="small">Example (points committed are more than 10% higher than points available): pointscommitted >= pointsavailable * 1.1</span>
                <input id="condition" type="text" name="condition_field" class="form-control" value="" required>
                <br>

                <!-- Actionable Feedback -->
                <label for="feedback">What actionable feedback should be presented to the student when this script is triggered?</label>
                <textarea class="form-control rounded-0" name="feedback_field" required></textarea>
                <!--<input id="feedback" type="text" name="feedback_field" class="form-control" value="" required>-->
                <br>

                <!-- Actionable Feedback Outlet -->
                <label for="outlet">Who should be sent the actionable feedback?</label>
                <select id="outlet" name="outlet_field" class="form-control">
                    <%
                    for ( var i = 0; i < outlets.length; i++ ) {
                        var selected = "";
                    %><option value="<%=outlets[i] %>" <%=selected %>><%=outlets[i] %></option><%
                    }
                    %>
                </select>
                <br>

                <!-- Escalation Protocol -->
                <label for="escalation">How should the script escalate the issue if it goes unaddressed?</label>
                <select id="escalation" name="escalation_field" class="form-control">
                    <%
                    for ( var i = 0; i < escalation.length; i++ ) {
                        var selected = "";
                    %><option value="<%=escalation[i] %>" <%=selected %>><%=escalation[i] %></option><%
                    }
                    %>
                </select>
                <br>

                <!-- Relevant Projects -->
                <label>What projects should this script be run on?</label> <br>
                <%
                for ( var i = 0; i < projects.length; i++ ) {
                  var name = "project" + i;
                %><input type="checkbox" name=<%=name %> value="<%=projects[i] %>" checked> <%=projects[i] %><br><%
                }
                %>
                <br>

                <!-- Submit -->
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Send">Create Script</button>

                <!-- Success Message -->
                <%if (saved) { %>
                    <br>
                    <span class="" id="signin-error">Orchestration Script Successfully Saved.</span>
                <% } %>
            </form>
        </div>
    </div>
</div>
</body>
</html>
